<f:layout name="Full" />

<f:section name="Content">

    <section class="content" style="margin:100px 15px 0 15px;">
        <div class="container-fluid">
            <div class="block-header">
                <h2>DASHBOARD</h2>
            </div>

            <!-- Widgets -->
            <div class="row clearfix">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">forum</i>
                        </div>
                        <div class="content">
                            <div class="text"><f:translate key="common.pages" default="PAGES" /></div>
                            <div class="number count-to" data-from="0" data-to="{pagesCountAll}" data-speed="2600" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="info-box bg-deep-orange hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">supervisor_account</i>
                        </div>
                        <div class="content">
                            <div class="text"><f:translate key="common.backend_users" default="BACKEND USERS" /></div>
                            <div class="number count-to" data-from="0" data-to="{beUserCountAll}" data-speed="2000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="body bg-teal">
                            <div class="font-bold m-b--35"><f:translate key="common.loaded_themes" default="LOADED THEMES" /></div>
                            <ul class="dashboard-stat-list">
                                <f:if condition="{loadedThemes}">
                                    <f:then>
                                        <f:for each="{loadedThemes}" as="ext" key="extKey">
                                            <li><a href="https://docs.typo3.org/typo3cms/extensions/{extKey}/" target="_blank" style="color:white;text-decoration:underline;" title="Opens the theme documentation">{extKey}</a></li>
                                        </f:for>
                                    </f:then>
                                    <f:else>
                                        <li style="background-color:yellow;color:black;padding:1em;">You have no t3themes installed.</li>
                                    </f:else>
                                </f:if>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="body bg-blue-grey">
                            <f:if condition="{fluxLoaded}">
                                <f:then>
                                    <div class="font-bold m-b--35">Wow, you've got the power!</div>
                                    <ul class="dashboard-stat-list"><li>You are ready, to work with tools like flux, dce &amp; mask.</li></ul>
                                </f:then>
                                <f:else>
                                    <div class="font-bold m-b--35"><f:translate key="dashboard.widgets.flux.title" default="ENABLE MORE POWER!" /></div>
                                    <ul class="dashboard-stat-list">
                                        <li>We recommend to install <a href="https://extensions.typo3.org/extension/flux/" target="_blank" style="color:white;text-decoration:underline;" title="Opens the TYPO3 Extension Repository">EXT:flux</a>, <a href="https://extensions.typo3.org/extension/dce/" target="_blank" style="color:white;text-decoration:underline;" title="Opens the TYPO3 Extension Repository">EXT:dce</a>, <a href="https://extensions.typo3.org/extension/mask/" target="_blank" style="color:white;text-decoration:underline;" title="Opens the TYPO3 Extension Repository">EXT:mask</a>, <a href="https://extensions.typo3.org/extension/gridelements/" target="_blank" style="color:white;text-decoration:underline;" title="Opens the TYPO3 Extension Repository">EXT:gridelements</a> or other to enable new powerful content elements for your website.</li>
                                    </ul>
                                </f:else>
                            </f:if>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="body bg-purple">
                            <f:if condition="{loadedSeoExtensions}">
                                <f:then>
                                    <div class="font-bold m-b--35">Google is your friend!</div>
                                    <f:if condition="{loadedSeoExtensions.-1}">
                                        <f:then>
                                            <ul class="dashboard-stat-list"><li>Your SEO is in good hands!<br/><strong>TYPO3 {loadedSeoExtensions.-1}</strong> makes you great.. again.</li></ul>
                                        </f:then>
                                        <f:else>
                                            <ul class="dashboard-stat-list"><li>You have installed a famous seo extension.</li></ul>
                                        </f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <div class="font-bold m-b--35"><f:translate key="dashboard.widgets.seo.title" default="SEO and visibility" /></div>
                                    <ul class="dashboard-stat-list">
                                        <li>Make sure that you don't forget your SEO! We could not find TYPO3 v9.x or a common seo extension in your system. Check out these extensions: <a href="https://extensions.typo3.org/extension/mindshape_seo/" target="_blank" style="color:white;text-decoration:underline;" title="Opens the TYPO3 Extension Repository">EXT:mindshape_seo</a>&emsp;<a href="https://extensions.typo3.org/extension/yoast_seo/" target="_blank" style="color:white;text-decoration:underline;" title="Opens the TYPO3 Extension Repository">EXT:yoast_seo</a>&emsp;<a href="https://extensions.typo3.org/extension/cs_seo/" target="_blank" style="color:white;text-decoration:underline;" title="Opens the TYPO3 Extension Repository">EXT:cs_seo</a>&emsp;<a href="https://extensions.typo3.org/extension/metaseo/" target="_blank" style="color:white;text-decoration:underline;" title="Opens the TYPO3 Extension Repository">EXT:metaseo</a></li>
                                    </ul>
                                </f:else>
                            </f:if>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="body bg-teal">
                            <div class="font-bold m-b--35"><f:translate key="common.loaded_content" default="LOADED CONTENTS" /></div>
                            <ul class="dashboard-stat-list">
                                <f:if condition="{loadedContents}">
                                    <f:then>
                                        <f:for each="{loadedContents}" as="ext" key="extKey">
                                            <li><a href="https://docs.typo3.org/typo3cms/extensions/{extKey}/" target="_blank" style="color:white;text-decoration:underline;" title="Opens the documentation">{extKey}</a></li>
                                        </f:for>
                                    </f:then>
                                    <f:else>
                                        <li style="background-color:yellow;color:black;padding:1em;">You have no t3content installed.</li>
                                    </f:else>
                                </f:if>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Widgets -->

            <div class="row clearfix">
                <!-- Dev & contrib -->
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="card">
                        <div class="header">
                            <h2><f:translate key="dashboard.contrib.title" default="Development & contributing with EXT:t3cms" /></h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover dashboard-task-infos">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-4"><f:translate key="common.task" default="Task" /></th>
                                            <th class="col-sm-8"><f:translate key="common.progress" default="Progress" /></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><f:translate key="dashboard.contrib.translating" default="Translating" /></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width:5%" title="not yet done"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><f:translate key="dashboard.contrib.documentation" default="Documentation" /></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%" title="Basic Documentation"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><f:translate key="dashboard.contrib.stablizing" default="Stablizing" /></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width:15%" title="work in progress"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><f:translate key="dashboard.contrib.planned_features" default="Planned features" /></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;opacity:0.2;" title="???"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="https://fenewmedia.de/download/" target="_blank" title="Theme kickstarter">Theme kickstarter</a></td>
                                            <td>
                                                <a href="https://fenewmedia.de/download/" target="_blank" title="Theme kickstarter">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:65%" title="Beta started"></div>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Themes pool</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100" style="width:7%" title="5 themes from right now, but we will create more integrations of themes"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- #END# Dev & contrib -->
                <!-- Versions -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="header">
                            <h2>Versions</h2>
                        </div>
                        <div class="body">
<pre>
3.0.2 - [TASK] Fixed composer package name, added footerTextColor setting.
3.0.1 - [DEPRECATION] Dropped TS navigation settings. Don't worry, menu settings will come back.
3.0.0 - [DEPRECATION] Last version, that supports inject TS navigations to the settings
2.0.1 - [INIT] [BETA] Initial release in TER
1.0.0-1.1.1 - [ALPHA] Concepting &amp; Developing
</pre>
                        </div>
                    </div>
                </div>
                <!-- #END# Versions -->
            </div>

            <!-- Why Flux -->
            <div class="card">
                <div style="cursor:pointer;" class="header collapsed" data-toggle="collapse" data-target="#faqDemo1" aria-expanded="false" aria-controls="faqDemo1">
                    <h2>Why we count on FLUX!</h2>
                </div>
                <div class="body collapse" id="faqDemo1">
                    <p>
                        Content is strict seperated from the websites layout and design. That is a good way to create powerful TYPO3 themes.<br/>
                        <u>So the content elements are not realy part of the TYPO3 theme, because you can always create HTML elements and fit the content elements HTML code in it</u>. So if you want, you can create extra extensions to deliver your content elements. We were thinking about to use EXT:mask, but the workflow with mask was not effizient enougth. The EXT:mask_export made mask to a better option, but with EXT:mask_export we loose the flexibility for changing/adding/removing fields. The EXT:dce is also not that export friendly for content elements. With <b>EXT:flux</b> elements, we just need one HTML file to create a complex content element. So the workflow is effizient enougth and the flexibility for fields is given, because all configuration is done in this one HTML file. The last big reason is, that FLUX can create Content + IRRE + Grid-Elements</p>
                </div>
            </div><!-- Why Flux -->
            <!-- Custumize BE Module Layout -->
            <div class="card">
                <div style="cursor:pointer;" class="header collapsed" data-toggle="collapse" data-target="#faqBeModules" aria-expanded="false" aria-controls="faqBeModules">
                    <h2>Your backend module can look like this!</h2>
                </div>
                <div class="body collapse" id="faqBeModules">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td valign="top" width="45%">
                    <p>Just use <code>layoutRootPaths.10</code> to change the layoutRootPath in your Extension and use the T3CMS Backend Module Layout:</p>
<pre># TypoScript SETUP
module.tx_yourcoolextension {
    view {
        layoutRootPaths.0 = EXT:your_cool_extension/Resources/Private/Layouts/
        layoutRootPaths.10 = EXT:t3cms/Resources/Private/Skins/AdminBSBMaterialDesign/Layouts/
    }
}</pre>
                    <p>And use the <code>BeDefault</code> layout in your html templates:</p>
<pre>
&lt;f:layout name="BeDefault" /&gt;
</pre>
<p>Check out the static demo to explore, what elements are available with this be module layout. <a href="/typo3conf/ext/t3cms/Resources/Public/Skins/AdminBSBMaterialDesign/" target="_blank">Open static demo</a>. <em>Note: The t3cms backend module layout is a very slim fork of the <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/" target="_blank">original template</a>.</em></p>
                                </td>
                                <td valign="top" width="10%">
                                <td valign="top" width="45%">
                                    <img src="../typo3conf/ext/t3cms/Resources/Public/Images/belayout.gif" width="600" title="belayout" alt="belayout" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- Custumize BE Module Layout -->
            <!-- Theme -->
            <div class="card">
                <div style="cursor:pointer;" class="header collapsed" data-toggle="collapse" data-target="#faqDemo2" aria-expanded="false" aria-controls="faqDemo2">
                    <h2>Themes</h2>
                </div>
                <div class="body collapse" id="faqDemo2">
                    <p><strong>TYPO3 Themes sind Extensions/Sitepackages, die mit "t3themes_" beginnen, und die "t3themes_conf" Theme Einstellungen verwenden.</strong></p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td valign="top" width="45%">
                                    <p>Ein TYPO3-Theme benutzt die Theme Einstellungen für das Frontend Layouting, Backend-Layouts werden nur für das Einblenden von Content-Spalten im Backend gebraucht. Um im Frontend Sidebars ein-/aus zu blenden, werden die Theme Einstellungen benutzt.</p><img src="/typo3conf/ext/t3cms/Resources/Public/Images/themesconf.gif" width="600" title="themesconf" alt="themesconf" /></td>
                                <td valign="top" width="10%">
                                <td valign="top" width="45%">
                                    <p><strong>Themes are using this typoscript snippet to get the themeConf variable into their fluidtemplates:</strong></p>
                                    <pre>### DATA PREPROCESSING
dataProcessing {
    ...
    30 = SalvatoreEckel\T3cms\DataProcessing\T3themesConfProcessor
    30 {
        fieldName = t3themes_conf
        as = t3themesConf
        rootpageId = TEXT
        rootpageId {
            insertData = 1
            data = leveluid : 0
        }
    }
}
</pre></td>
                            </tr>
                        </tbody>
                    </table>
                    <hr/>
                    <p><strong>Learn more about your theme by checking out the themes help module.</strong></p>
                    <img src="/typo3conf/ext/t3cms/Resources/Public/Images/themehelpmodules.png" alt="" />
                </div>
            </div><!-- Theme -->
            <!-- Getting Startet with .td3 Imports -->
            <div class="card">
                <div style="cursor:pointer;" class="header collapsed" data-toggle="collapse" data-target="#faqDemo3" aria-expanded="false" aria-controls="faqDemo3">
                    <h2>Getting Startet with .td3 Imports</h2>
                </div>
                <div class="body collapse" id="faqDemo3">
                    <p>See how easy it is to import single pages or whole pagetrees!</p>
                    <img src="/typo3conf/ext/t3cms/Resources/Public/Images/self_import_data_t3d.gif" title="self_import_data_t3d" alt="self_import_data_t3d" />
                </div>
            </div><!-- Theme -->
        </div>
    </section>

</f:section>
