<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:se="http://typo3.org/ns/SalvatoreEckel/T3cms/ViewHelpers">

<f:layout name="Content"/>

<f:section name="Configuration">

    <flux:form id="gridTwoCol" options="{group: 'Layout-Elements',Fluidcontent: {sorting:10}}" localLanguageFileRelativePath="/Resources/Private/Language/locallang_gridelements.xlf">

        <flux:form.sheet name="columnsSheet" label="Columns" variables="{_all}">
			<flux:field.checkbox name="settings.advancedWidth"
								 label="Advanced Settings"
								 default="NULL"
								 required=""
								 requestUpdate="1" />

			<flux:field.select name="settings.col1widthSm"
							   label="Column 1 Width (>= small)"
							   default="col-sm-6"
							   maxItems="1"
							   items="{
								1:{0:'1 / 12',1:'col-sm-1'},
								2:{0:'2 / 12',1:'col-sm-2'},
								3:{0:'3 / 12 (25%)',1:'col-sm-3'},
								4:{0:'4 / 12 (33.33%)',1:'col-sm-4'},
								5:{0:'5 / 12',1:'col-sm-5'},
								6:{0:'6 / 12 (50%)',1:'col-sm-6'},
								7:{0:'7 / 12',1:'col-sm-7'},
								8:{0:'8 / 12',1:'col-sm-8'},
								9:{0:'9 / 12',1:'col-sm-9'},
								10:{0:'10 / 12',1:'col-sm-10'},
								11:{0:'11 / 12',1:'col-sm-11'},
								12:{0:'12 / 12 (100%)',1:'col-sm-12'}
							   }"/>
			<flux:field.select name="settings.col2widthSm"
							   label="Column 2 Width (>= small)"
							   default="col-sm-6"
							   maxItems="1"
							   items="{
								1:{0:'1 / 12',1:'col-sm-1'},
								2:{0:'2 / 12',1:'col-sm-2'},
								3:{0:'3 / 12 (25%)',1:'col-sm-3'},
								4:{0:'4 / 12 (33.33%)',1:'col-sm-4'},
								5:{0:'5 / 12',1:'col-sm-5'},
								6:{0:'6 / 12 (50%)',1:'col-sm-6'},
								7:{0:'7 / 12',1:'col-sm-7'},
								8:{0:'8 / 12',1:'col-sm-8'},
								9:{0:'9 / 12',1:'col-sm-9'},
								10:{0:'10 / 12',1:'col-sm-10'},
								11:{0:'11 / 12',1:'col-sm-11'},
								12:{0:'12 / 12 (100%)',1:'col-sm-12'}
							   }"/>
			<flux:field.select name="settings.col1widthXs"
							   label="Column 1 Width (>= 0px)"
							   displayCond="FIELD:settings.advancedWidth:=:1"
							   default="col-xs-6"
							   maxItems="1"
							   items="{
								1:{0:'1 / 12',1:'col-xs-1'},
								2:{0:'2 / 12',1:'col-xs-2'},
								3:{0:'3 / 12 (25%)',1:'col-xs-3'},
								4:{0:'4 / 12 (33.33%)',1:'col-xs-4'},
								5:{0:'5 / 12',1:'col-xs-5'},
								6:{0:'6 / 12 (50%)',1:'col-xs-6'},
								7:{0:'7 / 12',1:'col-xs-7'},
								8:{0:'8 / 12',1:'col-xs-8'},
								9:{0:'9 / 12',1:'col-xs-9'},
								10:{0:'10 / 12',1:'col-xs-10'},
								11:{0:'11 / 12',1:'col-xs-11'},
								12:{0:'12 / 12 (100%)',1:'col-xs-12'}
							   }"/>
			<flux:field.select name="settings.col2widthXs"
							   label="Column 2 Width (>= 0px)"
							   displayCond="FIELD:settings.advancedWidth:=:1"
							   default="col-xs-6"
							   maxItems="1"
							   items="{
								1:{0:'1 / 12',1:'col-xs-1'},
								2:{0:'2 / 12',1:'col-xs-2'},
								3:{0:'3 / 12 (25%)',1:'col-xs-3'},
								4:{0:'4 / 12 (33.33%)',1:'col-xs-4'},
								5:{0:'5 / 12',1:'col-xs-5'},
								6:{0:'6 / 12 (50%)',1:'col-xs-6'},
								7:{0:'7 / 12',1:'col-xs-7'},
								8:{0:'8 / 12',1:'col-xs-8'},
								9:{0:'9 / 12',1:'col-xs-9'},
								10:{0:'10 / 12',1:'col-xs-10'},
								11:{0:'11 / 12',1:'col-xs-11'},
								12:{0:'12 / 12 (100%)',1:'col-xs-12'}
							   }"/>
			<flux:field.select name="settings.col1widthMd"
							   label="Column 1 Width (>= medium)"
							   displayCond="FIELD:settings.advancedWidth:=:1"
							   default="col-md-6"
							   maxItems="1"
							   items="{
								1:{0:'1 / 12',1:'col-md-1'},
								2:{0:'2 / 12',1:'col-md-2'},
								3:{0:'3 / 12 (25%)',1:'col-md-3'},
								4:{0:'4 / 12 (33.33%)',1:'col-md-4'},
								5:{0:'5 / 12',1:'col-md-5'},
								6:{0:'6 / 12 (50%)',1:'col-md-6'},
								7:{0:'7 / 12',1:'col-md-7'},
								8:{0:'8 / 12',1:'col-md-8'},
								9:{0:'9 / 12',1:'col-md-9'},
								10:{0:'10 / 12',1:'col-md-10'},
								11:{0:'11 / 12',1:'col-md-11'},
								12:{0:'12 / 12 (100%)',1:'col-md-12'}
							   }"/>
			<flux:field.select name="settings.col2widthMd"
							   label="Column 2 Width (>= medium)"
							   displayCond="FIELD:settings.advancedWidth:=:1"
							   default="col-md-6"
							   maxItems="1"
							   items="{
								1:{0:'1 / 12',1:'col-md-1'},
								2:{0:'2 / 12',1:'col-md-2'},
								3:{0:'3 / 12 (25%)',1:'col-md-3'},
								4:{0:'4 / 12 (33.33%)',1:'col-md-4'},
								5:{0:'5 / 12',1:'col-md-5'},
								6:{0:'6 / 12 (50%)',1:'col-md-6'},
								7:{0:'7 / 12',1:'col-md-7'},
								8:{0:'8 / 12',1:'col-md-8'},
								9:{0:'9 / 12',1:'col-md-9'},
								10:{0:'10 / 12',1:'col-md-10'},
								11:{0:'11 / 12',1:'col-md-11'},
								12:{0:'12 / 12 (100%)',1:'col-md-12'}
							   }"/>
			<flux:field.select name="settings.col1widthLg"
							   label="Column 1 Width (>= large)"
							   displayCond="FIELD:settings.advancedWidth:=:1"
							   default="col-lg-6"
							   maxItems="1"
							   items="{
								1:{0:'1 / 12',1:'col-lg-1'},
								2:{0:'2 / 12',1:'col-lg-2'},
								3:{0:'3 / 12 (25%)',1:'col-lg-3'},
								4:{0:'4 / 12 (33.33%)',1:'col-lg-4'},
								5:{0:'5 / 12',1:'col-lg-5'},
								6:{0:'6 / 12 (50%)',1:'col-lg-6'},
								7:{0:'7 / 12',1:'col-lg-7'},
								8:{0:'8 / 12',1:'col-lg-8'},
								9:{0:'9 / 12',1:'col-lg-9'},
								10:{0:'10 / 12',1:'col-lg-10'},
								11:{0:'11 / 12',1:'col-lg-11'},
								12:{0:'12 / 12 (100%)',1:'col-lg-12'}
							   }"/>
			<flux:field.select name="settings.col2widthLg"
							   label="Column 2 Width (>= large)"
							   displayCond="FIELD:settings.advancedWidth:=:1"
							   default="col-lg-6"
							   maxItems="1"
							   items="{
								1:{0:'1 / 12',1:'col-lg-1'},
								2:{0:'2 / 12',1:'col-lg-2'},
								3:{0:'3 / 12 (25%)',1:'col-lg-3'},
								4:{0:'4 / 12 (33.33%)',1:'col-lg-4'},
								5:{0:'5 / 12',1:'col-lg-5'},
								6:{0:'6 / 12 (50%)',1:'col-lg-6'},
								7:{0:'7 / 12',1:'col-lg-7'},
								8:{0:'8 / 12',1:'col-lg-8'},
								9:{0:'9 / 12',1:'col-lg-9'},
								10:{0:'10 / 12',1:'col-lg-10'},
								11:{0:'11 / 12',1:'col-lg-11'},
								12:{0:'12 / 12 (100%)',1:'col-lg-12'}
							   }"/>
    	</flux:form.sheet>
        <flux:form.sheet name="cssClassesSheet" label="Extra Css Classes" variables="{_all}">
	        <flux:field.input name="settings.rowClass" label="Row classes" />
	        <flux:field.input name="settings.col1Class" label="Column 1 classes" />
	        <flux:field.input name="settings.col2Class" label="Column 2 classes" />
    	</flux:form.sheet>
		<flux:grid>
		    <flux:grid.row>
		        <flux:grid.column colspan="6" name="left" colPos="410" />
		        <flux:grid.column colspan="6" name="right" colPos="430" />
		    </flux:grid.row>
		</flux:grid>
    </flux:form>

</f:section>

<f:section name="Preview">
2 Columns
<hr/>
</f:section>

<f:section name="Main">
    <div class="row {settings.rowClass}">
	    <div class="{settings.col1widthSm} {settings.col1widthXs} {settings.col1widthMd} {settings.col1widthLg} {settings.col1Class}">
	    	<flux:content.render area="left" />
	    </div>
	    <div class="{settings.col2widthSm} {settings.col2widthXs} {settings.col2widthMd} {settings.col2widthLg} {settings.col2Class}">
	    	<flux:content.render area="right" />
	    </div>
    </div>
</f:section>

</div>
